.footer{
    width: 100%;
    height: 400px;
    margin-top: 48px;
    .footer__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        .footer__content-{
            margin: 65px 0;
            width: 180px;
            height: 150px;
            .footer__logo{
                display: flex;
                flex-direction: row;
                margin-bottom: 30px;
            }
        }
        .footer__content- img{
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
        
        .footer__content- h3{
            color: rgba(8, 84, 108, 1);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 24px;
        }
        .footer__content- p{
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgba(8, 84, 108, 1);
        }
        .footer__info{
            margin: 50px 60px ;
            padding: 10px;
            gap: 20px;
            .footer__info-{
                width: 157px;
                height: 200px;
                font-size: 18px;
                color:  rgba(8, 84, 108, 1);
                cursor: pointer;
                list-style: none;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                
                .tell{
                    color: rgba(8, 84, 108, 1);
                    text-decoration: none;
                }
                .linkk{
                    color: rgba(8, 84, 108, 1);
                    text-decoration: none;
                }
            }
            .footer__info- h2{
                margin-bottom: 30px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
    }
}
