.hero{
    background: #174251;
    background-image: url(/assets/Rectangle\ \(12\).png);
    width: 100%;
    padding-bottom: 240px;
    .hero__subtitle{
        display: flex;
        flex-direction: row;
        .hero__text{
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 50%;
            padding-top: 150px;
            .hero__btn{
                width: 190px;
                height: 58px;
                border: none;
                border-radius: 25px;
                background: #145e76;
                font-size: 18px;
                color: white;
                font-weight: 700;
            }
            .hero__btn:hover{
                background: orange;
                border-radius: 25px;
                width: 190px;
                height: 58px;
                transition: 1s;
            }
            .hero__btn:active{
                transform: scale(0.6);
                color: #b4f2f2 ;
                background: #b4f2f2 ;
            }
            .hero__btns{
                display: flex;
                flex-direction: row;
                gap: 50px;
            }
            .hero__btns button{
                border: none;
                background: none;
                color: rgba(132, 148, 153, 1) ;
                font-size: 16px;
                font-weight: 700;
                width: 137px;
                height: 37px;
                background: #145e76;
                border-radius: 25px;
                transition: 1s;
            }
            .hero__btns button:hover{
                background: orange;
                border-radius: 25px;
                width: 137px;
                height: 37px;
            }
            .hero__btns button:active{
                transform: scale(.6);
                background: #b4f2f2 ;
            }
        }
        .hero__text h2{
            font-size: 64px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
            font-weight: 700;
        }
        .hero__text p{
            font-size: 18px;
            font-weight: 400;
            font-family: system-ui, -
            apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgba(132, 148, 153, 1);
        }
        .hero__img{
            width: 50%;
            overflow: hidden;
        }
    }
}